In [24]:
import pandas as pd

In [25]:
df = pd.read_csv(
    filepath_or_buffer="mail_data.csv"
)

In [26]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [27]:
df.head(1)["Message"].values

array(['Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...'],
      dtype=object)

In [28]:
def text_processing(df: pd.DataFrame, column: str) -> pd.DataFrame:
    df_processed = (
        df[column]
        .str.lower()
        .str.replace(r"http\S+|www\S+", "<URL>", regex=True)
        .str.replace(r"\d+", "<NUM>", regex=True)
        .str.replace(r"[^\w\s]", "", regex=True)
    )

    return df_processed

In [29]:
df_processed = text_processing(df=df, column="Message")

In [30]:
df_processed.head()

0    go until jurong point crazy available only in ...
1                              ok lar joking wif u oni
2    free entry in NUM a wkly comp to win fa cup fi...
3          u dun say so early hor u c already then say
4    nah i dont think he goes to usf he lives aroun...
Name: Message, dtype: object